# Tehran House Price

!["Tehran House Price"](image.png)

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from lls import LinearLeastSquare
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV  # Linear least squares with l2 regularization
from sklearn.model_selection import train_test_split

In [15]:
data = pd.read_csv("housePrice.csv")
data.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33

In [ ]:
data["Warehouse"] = data["Warehouse"].replace([True,False],[1,0])
data["Elevator"] = data["Elevator"].replace([True,False],[1,0])
data["Parking"] = data["Parking"].replace([True,False],[1,0])

In [17]:
data.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,1,1,1,Shahran,1.850000e+09,61666.67
1,60,1,1,1,1,Shahran,1.850000e+09,61666.67
2,79,2,1,1,1,Pardis,5.500000e+08,18333.33
3,95,2,1,1,1,Shahrake Qods,9.025000e+08,30083.33
4,123,2,1,1,1,Shahrake Gharb,7.000000e+09,233333.33

In [18]:
data["Price(USD)"] = (data["Price"] / data["Price(USD)"]) + 14000 # update to july 2023

In [19]:
df = data[["Address", "Price"]]
df = df.sort_values(by="Price",ascending=False)
df.head(5)

         Address         Price
1703  Zaferanieh  9.240000e+10
1806      Abazar  9.100000e+10
430      Lavasan  8.500000e+10
816   Ekhtiarieh  8.160000e+10
1329    Niavaran  8.050000e+10

In [20]:
X = data[['Area', 'Room', 'Parking', 'Warehouse', 'Elevator']].to_numpy().astype(int)
Y = data[['Price']].to_numpy().astype(int)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

lls = LinearLeastSquare()
lls.fit(X_train, Y_train)
Y_pred = lls.predict(X_test)

C:\Users\ComputerKosar\AppData\Local\Temp\ipykernel_20464\372606526.py:2: RuntimeWarning: invalid value encountered in cast
  Y = data[['Price']].to_numpy().astype(int)

In [32]:
print("My Model:")
print('Evaluate MAE:', lls.evaluate(Y_test, Y_pred, metric='mae'))
print('Evaluate MSE:', lls.evaluate(Y_test, Y_pred, metric= 'mse'))
print('Evaluate RMSE:', lls.evaluate(Y_test, Y_pred, metric='rmse'))

My Model:
Evaluate MAE: 1280823521.6017728
Evaluate MSE: 2.1167316274408417e+18
Evaluate RMSE: 1454899181.1946428

In [10]:
lls_sklearn = LinearRegression()
lls_sklearn.fit(X_train, Y_train)
Y_pred_linear = lls_sklearn.predict(X_test)

In [34]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from math import sqrt

mae_linear = mean_absolute_error(Y_test, Y_pred_linear)
mse_linear = mean_squared_error(Y_test, Y_pred_linear)
rmse_linear = sqrt(mse_linear)

print("sklearn :")
print('Linear Regression - MAE:', mae_linear)
print('Linear Regression - MSE:', mse_linear)
print('Linear Regression - RMSE:', rmse_linear)

sklearn :
Linear Regression - MAE: 1576720988.1173596
Linear Regression - MSE: 3.3493662051916836e+18
Linear Regression - RMSE: 1830127374.0348468

In [33]:
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_absolute_error, mean_squared_error
from math import sqrt

ridge_model = RidgeCV()
ridge_model.fit(X_train, Y_train)

Y_pred_ridge = ridge_model.predict(X_test)

mae_ridge = mean_absolute_error(Y_test, Y_pred_ridge)
mse_ridge = mean_squared_error(Y_test, Y_pred_ridge)
rmse_ridge = sqrt(mse_ridge)

print("RidgeCV :")
print('Ridge Regression - MAE:', mae_ridge)
print('Ridge Regression - MSE:', mse_ridge)
print('Ridge Regression - RMSE:', rmse_ridge)

RidgeCV :
Ridge Regression - MAE: 1165824367.3936238
Ridge Regression - MSE: 1.9141138377706207e+18
Ridge Regression - RMSE: 1383515029.8318486